@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica.woff") format("woff"),
    url("../fonts/coolvetica-rg.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
